@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300|Roboto|Raleway');
*{
  margin:0px;
}
body{
padding-top:80px
}
.home{
  height:100%;
}
#intro{
  font-family:Josefin Sans;
  height:30%;
  width:auto;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
}
#brand{
  font-size:50px;
}
#tagline{
  font-size:30px;
}
.join{
  padding:3%;
}
.quote{
  padding:2%;
  padding-top:0%;
}
#joinbtn{
  width:40%;
  height:50px;
  min-width:200px;
  font-family:Raleway;
  font-weight:bold;
}
#qtbtn{
  width:40%;
  min-width:200px;
  height:50px;
  font-family:Raleway;
  font-weight:bold;
}
.templates{
  background-color:lightgrey;
  min-height:200px;
  display:flex;
  flex-flow:row;
  flex-wrap:wrap;
  justify-content:center;
  padding:2%;
}
h3,h4{
  font-family:josefin sans;
  font-weight:bold
}
.jobcards{
  margin:1%;
  height:150px;
  width:150px;
  border:solid black 1px;
}
input{
  padding:2%;
  width:40%;
}
input:hover{
    box-shadow:5px 5px lightgrey; 
}
textarea{
  padding:1% 2% 1% 2%;
  width:80%;
  border:solid 2px grey;
}
textarea:hover{
    box-shadow:5px 2px lightgrey;
}
select{
  padding:2%;
  width:40%;
  border-radius:5%;
}
select:hover{
    box-shadow:5px 2px lightgrey;
}
.form{
  font-family:Raleway;
  margin:5% 10% 10% 10%;
  position:relative;
  padding:1%;
  width:80%;
  border-radius:10%;
  background-color:lightgrey;
}
#form1{
  display:none;
  padding-bottom:4%;
}
#form2{
  display:none;
  padding-bottom:4%;
}